<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ary Sinteco – Serviço de qualidade em todo o Rio de Janeiro.</title>
    <meta name="application-name" content="Ary Sinteco">
    <meta name="description" content="Serviço de sinteco de qualidade em toda a cidade do Rio de Janeiro!">
    <meta name="author" content="Arilson Bolivar">
    <meta name="keywords" content="Sinteco,Sinteko,Rio de Janeiro,RJ,Serviço,Piso,Madeira,Decoração">
    <meta name="referrer" content="strict-origin">
    <meta name="robots" content="robots, follow">
    <link rel="stylesheet" href="%template_style%" type="text/css">
</head>
<body class="grid-line">
    <header>
        <div class="inner">
            <a href="#"><h1>%blogtitle%</h1></a>
            <nav class="nav-menu">
                <ul>
                    <li>
                        <a href="#!/home">Inicio</a>
                        <a href="#!/contacts">Contatos</a>
                        <a href="#!/prices">Tabela de Preços</a>
                        <a href="#!/about">Sobre a Empresa</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>