<%include 'header';%>
<main class="content" role="main">
    <article class="primary slider-from-home">
        <div class="slider">
            <div class="slide slide1"><span>QUALIDADE</span></div>
            <div class="slide slide2"><span>LIGUE JÁ</span></div>
            <div class="slide slide3"><span>(21) 2253-5973</span></div>
            <div class="slide slide4"><span>SINTECO</span></div>
            <div class="slide slide5"><span>RIO DE JANEIRO</span></div>
        </div>
        <a class="arrow-left" href="javascript:void(0);"></a><a class="arrow-right" href="javascript:void(0);"></a>
        <div class="dots-wrapper"></div>
    </article>
    <article>
        <h1>Hello World</h1>
        <p>Olá seja bem vindo(a).</p>
    </article>
</main>
<%include 'footer';%>