<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="%styles:default%" />
    <title><%title left='%blog:title%' center='|' right='%blog:page%';%></title>
  </head>
<body>
  <div class="header">
    <h1>%blog:title%</h1>
    <p>%blog:desc%</p>
  </div>
  <div class="topnav">
    <!-- TEMPLATE SUPPORT 'menu' -->
    <a href="%MENU_ITEM_URL%" title="%MENU_ITEM_NAME%" class="%MENU_HAS_ACTIVE%">%MENU_ITEM_NAME%</a>
    <!-- ENDTEMPLATE-->
  </div>